.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: 0.2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 1px;
    margin-left: 5px;
    transition: 0.2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
    color: white;
    font-size: 20px;
}

.btn-floating:hover img {
    margin-bottom: -3px;
}

.btn-floating img {
    height: 33px;
}

.btn-floating.wa {
    bottom: 25px;
    background-color: #34af23;
    border: 2px solid #fff;
}

.btn-floating.wa:hover {
    background-color: #1f7a12;
}
